@import 'assets/styles/_mixins.scss';

.app {
  &__container {
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 36px;
    color: black;
  }

  &__header-logout {
    @include reset-button-styles;
    color: white;
    font-size: 14px;
    height: 30px;
    border-radius: 15px;
    background: var(--main-highlight-color);
    padding: 0 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    white-space: nowrap;

    &:hover {
      transition: all .2s ease-in;
      transform: translateY(-1px);
      box-shadow: 0 5px 5px rgba(0,0,0,.2);
    }
  }

  &__words {
    margin: 30px -30px;
    padding: 30px;
    background: #e6e6e6;
  }

  &__words-title {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
  }

  &__words-list {
    flex-wrap: wrap;
    display: flex;
  }

  &__words-item {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__words-item-word {
    font-size: 15px;
    color: black;
    margin-right: 4px;
    &:after {
      content: "•";
      margin: 0 8px;
    }
    .app__words-item:last-child & {
      &:after {
        content: "";
      }
    }
  }

  &__words-item-frequency {
    font-size: 13px;
    color: white;
    margin-right: 4px;
    border-radius: 4px;
    background: darkslategrey;
    padding: 0 4px;
    line-height: 1.2;
  }

  &__list {

  }
  &__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-date {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
  }

  &__item-title {
    margin-bottom: 10px;
    line-height: 1.3;
  }

  &__item-link {
    max-width: 500px;
    font-size: 24px;
    color: var(--main-highlight-color);
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      color: darken(#326e75, 20%);
    }
  }

  &__item-content {
    font-size: 16px;
    color: #323232;
    line-height: 1.3;
  }
}
