.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

  &__icon {
    height: 40px;
    width: 40px;
    fill: var(--main-highlight-color);
  }
}
