.form-input-holder {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #eaeaea;
    line-height: normal;
    padding: 0 14px;

    font-size: 16px;
    color: black;
    &:-webkit-autofill {
      background: black;
      -webkit-text-fill-color: black;
      -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
    }
    &:-webkit-autofill:hover {
      background: black;
    }
    &:-webkit-autofill:focus {
      background: black;
    }
  }

  &__error {
    margin-top: 4px;
    color: red;
    font-size: 13px;
    margin-left: 12px;
  }
}
