@import "_mixins.scss";

:root {
  --main-highlight-color: #326e75;
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
