.form-button {
  height: 50px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-highlight-color);
  transition: all .2s ease-out;
  cursor: pointer;

  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);

  &:hover:not(:disabled) {
    transition: all .2s ease-in;
    transform: translateY(-2px);
    box-shadow: 0 10px 5px rgba(0,0,0,.2);
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &__loading {
    fill: white;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}
