.registration {
  background: white;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    width: 400px;
    margin: 40px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, .3);
    padding: 30px;
  }

  &__title {
    font-size: 20px;
    color: #323232;
    margin-bottom: 20px;
    font-family: sans-serif;
  }

  &__login {
    margin-top: 20px;
    font-size: 14px;
    color: #326e75;
    text-align: center;
  }

  &__login-link {
    font-size: 14px;
    color: var(--main-highlight-color);
    margin-left: 4px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
